@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #experience {
        margin-top: 2rem;
    }

    #profile,
    .about-section-container {
        display: block;
    }

    section,
    .about-section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-container {
        margin-top: 0;
    }

    .experience-description {
        margin-right: 2rem;
    }

    .project-tech-stack-article {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        padding: 0.2rem 1rem;
    }

    .project-tech-stack-article p {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-container,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
        flex-wrap: wrap;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title,
    .experience-sub-title a {
        font-size: 1rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container,
    .project-description {
        text-align: justify;
    }

    .details-container p {
        font-size: 0.9rem;
    }

    .details-container h3 {
        font-size: 1rem;
    }

    .experience-container {
        flex-direction: column;
    }

    .experience-date-container {
        flex-direction: row;
        gap: 0.5rem;
    }

    .experience-date-container p {
        font-size: 0.9rem;
    }

    .experience-details-container {
        padding: 0 0.5rem 0 0.5rem;
    }

    .experience-header-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .experience-description {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .project-tech-stack-container {
        min-width: 100px;
    }

    .projects-container {
        flex-direction: column;
    }

    .project-btn-container {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
}